<div class="room-form">
  <h1>新規ルームへ</h1>
    <%=form_with model: @room, local: true do |f| %>
    <%= f.label :ルーム名 %>
    <%= f.text_field :name %>
    <div>
    <label>レポート相手</label>
    </div>
    <select>
      <option value="">レポートを送る相手を選択してください</option>
      <% User.where.not(id: current_user.id).each do |user| %>  
        <option><%= user.name %></option>
      <% end %>
    </select>
  <% end %>
</div>
