html,
body 
div.background {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
}
.side-bar {
  background-color: #F8F4E3;
  width: 23%;
  height: 100vh;
}

.side-bar-header {
  height: 150px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-name a {
  font-size: 2vw;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.create-room a {
  border: 1px ridge #BDBDBD;
  padding: 14px;
  color: #000000;
  text-decoration: none;
  background-color: #FFE2E2;
  font-size: 1vw;
  white-space: nowrap;
}

.reports-area {
  overflow: scroll;
}


.side-bar-footer {
  background-color: #3F72AF;
  height: calc(100vh - 150px);
  padding: 0 20px;
}

.past-repo {
  padding: 20px 0 40px;
}

.past-repo-name a {
  color: white;
}

.chat {
  background-color: #F9F7F7;
  width: 77%;
}
div.chat-header {
  height: 150px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-size: cover;
  background-color: #3F72AF;
}

.left-header{
  display:flex;
  align-items: center;
}

.header-title::before {
  content: "";
  display: block;
  height: 2px;
  background-color: #FFF;
}

.header-title::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #FFF;
}


.header-title {
  color: #222;
  font-size: 4vw ;
}

.right-header { 
  display: flex;
  align-items: center;
}

.header-button {
  margin: 40px;
}

.header-button a {
  border: 1px ridge #BDBDBD;
  color: #000000;
  text-decoration: none;
  background-color: #FFE2E2;
  padding: 20px;
  margin: 0;
}

.reports {
  height: calc(100vh - 100px - 90px);
  padding: 10px 40px 0;
  overflow: scroll;
}

.reports-area {
  position: absolute;
  bottom: 0;
  height: calc(100vh - 150px);
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #3F72AF;
  border-radius: 20px;
  color: #F9F7F7;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #769FCD;
}

.contents.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
}

.room-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
}

.partner {
  height: 8vh;
  margin: 2% 0;
}