<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
    タイトル
    </div>
  </div>
  <div class="right-header">
  <% current_user.rooms.each do |room| %>
    <div class="header-button">
      <%= link_to room.name, room_reports_path(room) %>
    </div>
  <% end %>
  </div>
</div>

<div class="reports">
<%@reports.each do |report| %>
<p><%= report.body %></p>
<span><%= report.image %></span>
<% end%>  
</div>

<div class="form">
  <div class="form-input">
    <input class="form-">
フォーム
</div>