<div class="side-bar-header">
  <div class="header-name">
    <% if user_signed in?%>
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <% end %>
  </div>
  <div class="create-room">
    <a href="/rooms/new">新規ルーム</a>
  </div>
</div>

<div class="side-bar-footer">
  <div class="past-repo">
    <div class="past-repo-name">
      <a href="#">過去レポ１</a>
    </div>
  </div>
  <div class="past-repo">
    <div class="past-repo-name">
      <a href="#">過去レポ２</a>
    </div>
  </div>
</div>