<div class="side-bar-header">
  <div class="header-name">
    <a href="#"><%= current_user.name %></a>
  </div>
  <div class="create-room">
    <a href="#">食事レポを作成</a>
  </div>
</div>

<div class="side-bar-footer">
  <div class="past-repo">
    <div class="past-repo-name">
      <a href="#">過去レポ１</a>
    </div>
  </div>
  <div class="past-repo">
    <div class="past-repo-name">
      <a href="#">過去レポ２</a>
    </div>
  </div>
</div>