<div class="side-bar-header">
 
  <div class="create-room">
    <a href="/rooms/new">新規ルーム</a>
  </div>
</div>

<div class="side-bar-footer">
 <div class="user-links">
    <div class="user-link">
      <%= link_to('新規ユーザー登録', new_user_registration_path) %>
    </div>
  </div>
  <div class="user-links">
    <div class="user-link">
      <%= link_to('ログイン', new_user_session_path) %>
    </div>
  </div>
  <div class="user-links">
    <div class="user-link">
       <%= link_to('ログアウト', destroy_user_session_path, :method=>'delete') %>
    </div>
  </div>
</div>