<div class="side-bar-header">
 
  <div class="create-room">
    <a href="/rooms/new">新規ルーム</a>
  </div>
</div>

<div class="side-bar-footer">
  <div class="past-repo">
    <div class="past-repo-name">
      <a href="#">過去レポ１</a>
    </div>
  </div>
  <div class="past-repo">
    <div class="past-repo-name">
      <a href="#">過去レポ２</a>
    </div>
  </div>
</div>