<div>
  <h1>投稿する</h1>
  <%= form_with url:"/rooms/#{current_user.id}/reports"  do |form| %>
    <%= form.text_field :body %>
    <%= form.text_field :image %>
    <%= form.submit "SEND" %>
  <% end %>
</div>