<div class="contents row">
  <div class="container">
    <h1>投稿する</h1>
    <%= form_with(model: [@room,@report], local: true) do |form| %>
      <%= form.text_field :body, placeholder: "Message" %>
      <%= form.file_field :picture, placeholder: "写真" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>